[Unit]
Description=eth2stats-lighthouse
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/var/lib/eth2stats-lighthouse/
User=eth2stats
ExecStart=/usr/local/bin/eth2stats-client run --v --eth2stats.node-name="Staker box Lighthouse's Node" --eth2stats.addr="grpc.medalla.eth2stats.io:443" --beacon.metrics-addr="http://localhost:5054/metrics" --eth2stats.tls=true --beacon.type="v1" --beacon.addr="http://localhost:5052"

[Install]
WantedBy=multi-user.target

